table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Mulish";
  margin-top: 2rem;
}

.print-customer-button{
  background-color: #01bfbf;
  color: #fff;
  width: 99%;
  padding: 10px 20px;
  border-radius: 4px;
}
