<app-header></app-header>

<div class="body">

  <section class="container">
    <div class="row">
      <div class="col">
        <h1>Customer List</h1>
        <a class="btn btn-success text-white p-2 mb-2" routerLink="/customer/create"><mat-icon
            class="me-2">add</mat-icon>
          Add Customer
        </a>
        <a class="btn btn-info float-end text-white p-2" href="{{ printReportUrl }}"><mat-icon
            class="me-2">print</mat-icon>
          Print Customer
          Report
        </a>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <!-- Conditional check for empty dataSource -->
      <div *ngIf="dataSource && dataSource.data.length === 0" class="mt-3">
        <h1 class="empty-message">No data available.</h1>
      </div>
      <table class="mt-3" *ngIf="dataSource && dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort
        (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription> Code </th>
          <td mat-cell *matCellDef="let customer"> {{customer.code}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription> Name </th>
          <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription> Address </th>
          <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription> Phone </th>
          <td mat-cell *matCellDef="let customer"> {{customer.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription> Active </th>
          <td mat-cell *matCellDef="let customer">
            <span [ngClass]="{'active-label': customer.isActive, 'inactive-label': !customer.isActive}">
              {{ customer.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let customer">
            <p-button class="m-2" (click)="viewDetails(customer)" title="View Detail" severity="info"
              [outlined]="true"><mat-icon class="text-info">visibility</mat-icon></p-button>
            <p-button class="m-2" (click)="editCustomer(customer)" title="Edit" severity="warning"
              [outlined]="true"><mat-icon class="text-warning">edit</mat-icon></p-button>
            <p-button class="m-2" (click)="deleteCustomer(customer)" title="Delete" severity="danger"
              [outlined]="true"><mat-icon class="text-danger">delete</mat-icon></p-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator *ngIf="dataSource && dataSource.data.length > 0" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </section>
</div>

<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="confirmDialog">
      <p-button class="close-button" (click)="cd.reject()" [outlined]="false" [text]="true" [severity]="'danger'">
        <mat-icon>close</mat-icon>
      </p-button>
      <div>
        <img src="assets/error_outline_24px.png">
      </div>
      <p>Apakah Anda yakin ingin menghapus resep ini dari favorit?</p>
      <div class="confirmButton">
        <button class="rejectButton" (click)="cd.reject()">Tidak</button>
        <button class="acceptButton" (click)="cd.accept()">Ya</button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>