<ng-select [items]="data"
	[ngModel]="selectedItem"
	[disabled]="isDisabled"
	[loading]="loading"
	(clear)="onClear()"
	(change)="onChange($event)"
	(search)="onSearch($event)"
	bindLabel="itemsName"
	placeholder="Select an Item">
	<ng-template ng-option-tmp
		let-item="item"
		let-index="index">
		<div>
			<span class="me-5">
				{{ item.itemsName }}
			</span>
			<span class="text-black-50">
				[Stock: {{ item.stock }}] [Price: {{
        item.price
        }}]
			</span>
		</div>
	</ng-template>
</ng-select>
