<app-header></app-header>

<div class="container mt-3">
  <h2>Item Create Form</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addItemForm" class="card">
    <div class="card-body">
      <div class="mb-2">
        <label for="name" class="form-label mr-2">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" required formControlName="name" autocomplete="off">
        <small class="text-danger"
          *ngIf="addItemForm.get('name')?.hasError('required') && addItemForm.get('name')?.touched">Name is
          required.</small>
        <small class="text-danger" *ngIf="addItemForm.get('name')?.hasError('incorrect')">{{
          addItemForm.get('name')?.getError('incorrect')?.message }}</small>
      </div>
      <div class="mb-2">
        <label for="code" class="form-label mr-2">Code <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="code" required formControlName="code" autocomplete="off">
        <small class="text-danger"
          *ngIf="addItemForm.get('code')?.hasError('required') && addItemForm.get('code')?.touched">Code
          is
          required.</small>
        <small class="text-danger" *ngIf="addItemForm.get('code')?.hasError('incorrect')">{{
          addItemForm.get('code')?.getError('incorrect')?.message }}</small>
      </div>
      <div class="mb-2">
        <label for="stock" class="form-label mr-2">Stock <span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="stock" required formControlName="stock" autocomplete="off">
        <small class="text-danger"
          *ngIf="addItemForm.get('stock')?.hasError('required') && addItemForm.get('stock')?.touched">Stock is
          required.</small>
        <small class="text-danger" *ngIf="addItemForm.get('stock')?.hasError('incorrect')">{{
          addItemForm.get('stock')?.getError('incorrect')?.message }}</small>
      </div>
      <div class="mb-2">
        <label for="price" class="form-label mr-2">Price <span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="price" required formControlName="price" autocomplete="off">
        <small class="text-danger"
          *ngIf="addItemForm.get('price')?.hasError('required') && addItemForm.get('price')?.touched">Price is
          required.</small>
        <small class="text-danger" *ngIf="addItemForm.get('price')?.hasError('incorrect')">{{
          addItemForm.get('price')?.getError('incorrect')?.message }}</small>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="available" formControlName="isAvailable">
        <label class="form-check-label" for="available">Available</label>
      </div>
      <button type="submit" class="btn btn-primary my-3 float-end">Submit</button>
    </div>
  </form>
</div>
