<app-header></app-header>







<div class="container mt-3">
	<h2>Order Create Form</h2>
	<form [formGroup]="addOrderForm"
		(ngSubmit)="onSubmit()"
		class="card">
		<div class="card-body">
			<div class="mb-2">
				<label for="customer"
					class="form-label mr-2">
					Customer
					<span class="text-danger">*</span>
				</label>
				<app-customer-select formControlName="customer"></app-customer-select>
				<div *ngIf="selectedCustomer!=null"
					class="details">
					<h5>Customer Details</h5>
					<p>
						<strong>Name:</strong>
						{{ selectedCustomer.name }}
					</p>
					<p>
						<strong>Code:</strong>
						{{ selectedCustomer.code }}
					</p>
					<p>
						<strong>Phone:</strong>
						{{ selectedCustomer.phone }}
					</p>
					<p>
						<strong>Address:</strong>
						{{ selectedCustomer.address }}
					</p>
				</div>
				<small *ngIf="addOrderForm.get('customer')?.hasError('required') && addOrderForm.get('customer')?.touched"
					class="text-danger">
					Customer
          is
          required.
				</small>
				<small *ngIf="addOrderForm.get('customer')?.hasError('incorrect')"
					class="text-danger">
					{{
          addOrderForm.get('customer')?.getError('incorrect')?.message }}
				</small>
			</div>
			<div class="mb-2">
				<label for="item"
					class="form-label mr-2">
					Item
					<span class="text-danger">*</span>
				</label>
				<app-item-select formControlName="item"></app-item-select>
				<div *ngIf="selectedItem!=null"
					class="details">
					<h5>Item Details</h5>
					<p>
						<strong>Name:</strong>
						{{ selectedItem.itemsName }}
					</p>
					<p>
						<strong>Code:</strong>
						{{ selectedItem.itemsCode }}
					</p>
					<p>
						<strong>Stock:</strong>
						{{ selectedItem.stock }}
					</p>
					<p>
						<strong>Price:</strong>
						{{ selectedItem.price }}
					</p>
				</div>
				<small *ngIf="addOrderForm.get('item')?.hasError('required') && addOrderForm.get('item')?.touched"
					class="text-danger">
					Item
          is
          required.
				</small>
				<small *ngIf="addOrderForm.get('item')?.hasError('incorrect')"
					class="text-danger">
					{{
          addOrderForm.get('item')?.getError('incorrect')?.message }}
				</small>
			</div>
			<div class="mb-2">
				<label for="quantity"
					class="form-label mr-2">
					Quantity
					<span class="text-danger">*</span>
				</label>
				<input type="number"
					class="form-control"
					id="quantity"
					required
					formControlName="quantity"
					autocomplete="off">
				<small *ngIf="addOrderForm.get('quantity')?.hasError('required') && addOrderForm.get('quantity')?.touched"
					class="text-danger">
					Quantity
          is required.
				</small>
				<small *ngIf="!addOrderForm.get('quantity')?.hasError('required') &&addOrderForm.get('quantity')?.hasError('min') && addOrderForm.get('quantity')?.touched"
					class="text-danger">
					Minimum
          quantity
          is 1.
				</small>
				<small *ngIf="addOrderForm.get('quantity')?.hasError('incorrect')"
					class="text-danger">
					{{
          addOrderForm.get('quantity')?.getError('incorrect')?.message }}
				</small>
			</div>
			<button type="submit"
				class="btn btn-primary my-3 float-end">
				Submit
			</button>
		</div>
	</form>
</div>
