<mat-toolbar class="header">
  <div class="logo" routerLink="">
    <img src="assets/online-shop-logo.png" alt="Logo">
    <h1>BTPN Online Shop</h1>
  </div>
  <div class="nav">
    <button mat-button routerLink="/customer/list" [class.router-link-active]="isCustomerActive">Customer</button>
    <button mat-button routerLink="/item/list" [class.router-link-active]="isItemActive">Item</button>
    <button mat-button routerLink="/order/list" [class.router-link-active]="isOrderActive">Order</button>
  </div>
  <div class="menu">
    <button mat-button (click)="sidebarVisible = true" [ngStyle]="{color: 'white'}">
      <mat-icon>menu</mat-icon>
    </button>

    <p-sidebar [(visible)]="sidebarVisible" position="right" [showCloseIcon]="false" [blockScroll]="true"
      [style]="{ backgroundColor: '#f49881' }">
      <div class="mNav">

        <div class="closeButton">
          <button mat-icon-button (click)="sidebarVisible = false">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="mNavButton">
          <mat-icon>group</mat-icon>
          <button mat-button routerLink="/customer/list" [class.router-link-active]="isCustomerActive">Customer</button>
        </div>
        <div class="mNavButton">
          <mat-icon>category</mat-icon>
          <button mat-button routerLink="/item/list" [class.router-link-active]="isItemActive">Item</button>
        </div>
        <div class="mNavButton">
          <mat-icon>shopping_cart</mat-icon>
          <button mat-button routerLink="/order/list" [class.router-link-active]="isOrderActive">Order</button>
        </div>
      </div>
    </p-sidebar>
  </div>
</mat-toolbar>